## We've provided a csv file containing data about the game show Jeopardy! in a file named jeopardy.csv. Load the data into a DataFrame and investigate its contents.

In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_colwidth', None)

In [2]:
jeopardy = pd.read_csv("jeopardy.csv")

In [3]:
jeopardy.columns = ["show_number", "air_date", "round", "category", "value", "question", "answer"]

In [4]:
jeopardy.head()

,show_number,air_date,round,category,value,question,answer
0,4680,2004-12-31,Jeopardy!,HISTORY,$200,"For the last 8 years of his life, Galileo was under house arrest for espousing this man's theory",Copernicus
1,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$200,"No. 2: 1912 Olympian; football star at Carlisle Indian School; 6 MLB seasons with the Reds, Giants & Braves",Jim Thorpe
2,4680,2004-12-31,Jeopardy!,EVERYBODY TALKS ABOUT IT...,$200,"The city of Yuma in this state has a record average of 4,055 hours of sunshine each year",Arizona
3,4680,2004-12-31,Jeopardy!,THE COMPANY LINE,$200,"In 1963, live on ""The Art Linkletter Show"", this company served its billionth burger",McDonald's
4,4680,2004-12-31,Jeopardy!,EPITAPHS & TRIBUTES,$200,"Signer of the Dec. of Indep., framer of the Constitution of Mass., second President of the United States",John Adams

In [5]:
jeopardy.value.count()

216930

In [6]:
jeopardy.value.describe()

count     216930
unique       150
top         $400
freq       42244
Name: value, dtype: object

In [7]:
jeopardy.category.unique()

array(['HISTORY', "ESPN's TOP 10 ALL-TIME ATHLETES",
       'EVERYBODY TALKS ABOUT IT...', ..., 'OFF-BROADWAY',
       'RIDDLE ME THIS', 'AUTHORS IN THEIR YOUTH'], dtype=object)

## Write a function that filters the dataset for questions that contains all of the words in a list of words.

In [9]:
def filter_data(data, words):
    filter = lambda x: all(word in x for word in words)
    return data.loc[data.question.apply(filter)]

filtered = filter_data(jeopardy, ["King", "England"])
print(filtered.question)

4953                                                                                                                                                                                                                                                                      Both England's King George V & FDR put their stamp of approval on this "King of Hobbies"
14912                                                                                                                                                                                                                                                            This country's King Louis IV was nicknamed "Louis From Overseas" because he was raised in England
21511                                                                                                                                                                                                                                                                                 this man and his son ruled England following the execution of King Charles I
23810                                                                                                                                                                                                                                                         William the Conqueror was crowned King of England in Westminster Abbey on Christmas Day in this year
27555                                                                                                                                                                                                                                                                           This member of the Medici family was the mother-in-law of England's King Charles I
33294                 (Sarah of the Clue Crew delivers the clue from the Bayeux Cathedral in France.)  Despite taking an oath to assure another succession, Harold is crowned King of England; the tapestry indicated it was <a href="http://www.j-archive.com/media/2008-12-18_J_08.jpg" target="_blank">Stigant</a>, this archbishop, who performed the ceremony
41148                                                                                                                                                                                                                                    This French king recognized William of Orange as William II, King of England, under the terms of 1697's Treaty of Ryswick
41357                                                                                                                                                                                                                                                     England's King Henry VIII had 3 wives named Catherine:  Catherine Howard, Catherine of Aragon & this one
43122                                                                                                                                                                                                                                                                                                                       The father of England's King Edward VI
47814                                                                                                                                                                                                                                                                                                   This steak sauce was created for King George IV of England
49994                                                                                                                                                                                                                                                                       Elizabeth I's half-brother, he reigned before her as King of England from 1547 to 1553
51115                                                                                                                  (<a href="http://www.j-archive.com/media/2000-03-02_J_22.jpg" target="_blank">Alex Trebek reads from England.</a>)  In 1214 barons fed up with King John met at the abbey whose ruins we see here; the result a year later was this charter
51565                                                                                                                                                                                                                                                 He wrote several anthems, including "The King Shall Rejoice", for the coronation of England's King George II
56600                                                                                                                                                                                                                                                              This city known for its 24-hour auto race was the birthplace of England's King Henry II in 1133
57516                                                                                                                                                                                                                                                                                         Famous (& rather insulting) adjective for England's King Ethelred II
58949                                                                                                                                                                                                                                                                        He became King of England in 1399 after forcing his cousin Richard II from the throne
71808                                                                                                                                                                                                                                                                                      Number of the William who was England's "Sailor King" from 1830 to 1837
74235                                                                                                                                                                                                                                                                     Barons & churchmen drew up this 1215 document to reduce the power of England's King John
77195                                                                                                                                                                                                                                                          He became King of England on June 26, 1483; just over 2 years later he was killed at Bosworth Field
79457                                                                                                                                                                                                                                              On Christmas Day 1066, he was crowned King of England, 72 days after defeating Harold at the Battle of Hastings
80113                                                                                                                                                                                                                                                                                                England's King Charles II was known by this "jovial" nickname
84639                                                                                                                                                                                                                                                                            He went from second banana on "Roseanne" to top banana of England in "King Ralph"
86412                                                                                                                                                                                                                                                                         This country's King Olaf V was born in England & was the grandson of King Edward VII
89710                                                                                                                                                                                                                                                            This 11th Century King of England also ruled Denmark & Norway during the latter part of his reign
111926                                                                                                                                                                                                                                                   It begins "John, by the grace of God, King of England, Lord of Ireland, Duke of Normandy & Aquitaine...."
118809                                                                                                                                                                                                                                                                                            In French this King of England is called Guillaume le Conquerant
123299                                                                                                                                                                                                                                                                     If you want to be crowned King of England, this rock has to be in your coronation chair
123671                                                                                                                                                                                                                                                                                                                              King Henry VII of England dies
125822                                                                                                                                                                                                                                                                                              Famous nickname of the eldest son of England's King Edward III
127484                                                                                                                                                                                                                                                                Ethelred the Unready managed to lose most of England to King Sweyn Forkbeard of this country
127758                                                                                                                                                                                                                                                                                  This state was named for the King of England who reigned from 1727 to 1760
129106                                                                                                                                                                                                                                                              King Edward I of England, who fought William Wallace, had this nickname relating to his height
130208                                                                                                                                                                                                                                                                                    This "Sun King" sniffed, "England is a little garden full of sour weeds"
137818                                                                                                                                                                                                                                                                                        The last King William to rule England had this number after his name
143434                                                                                                                                                                                                                                                                This Flemish artist painted a unique triple portrait of England's King Charles I around 1637
150880                                                                                                                                                                                                                                                                                       During Stanley Baldwin's term as P.M., this King of England abdicated
165110                                                                                                                                                                                                                                                        The 1st commoner to rule England, he became lord protector following the overthrow of King Charles I
165197                                                                                                                                                                                                                                                       The "Angel of Hadley" is said to have saved a New England town during the war with this Indian "King"
170007                                                                                                                                                                                                                                                                In the 1697 Treaty of Rijswijk, the French recognized this Dutch-born man as King of England
174055                                                                                                                                                                                                                                                                                            This conqueror was crowned King of England on Christmas Day 1066
175259                                                                                                                                                                                                                                                                                                          His short reign as King of England fell in in 1936
183462                                                                                                                                                                                                                                                            A capital in the West Indies is named for this family name of William of Orange, King of England
186239                                                                                                                                                                                                                                           He was King of England from 1189 to 1199 but spent only 6 months there; the rest of the time, he was off fighting
187651                                                                                                                                                                                                                                                                     This Bahamian capital took its name from the family name of King William III of England
191579                                                                                                                                                                                                                                                                             England's King Harold II lost the all-important Battle of Hastings in this year
192265    (<a href="http://www.j-archive.com/media/2012-01-17_DJ_25.jpg" target="_blank">Sarah of the Clue Crew stands in front of the Royal Palace in Oslo, Norway.</a>) King Harald V lives here, in Norway's Royal Palace. He and his second cousin, England's Queen Elizabeth, are both great-grandchildren of this British king, who ruled from 1901 to 1910.
192966                                                                                                                                                                                                                                                                                                                          England's King _____ _____ R. Luce
194516                                                                                                                                                                                                                                                            The "Monty Python" member who played King Arthur, he ended his grail quest in Maidstone, England
200369                                                                                                                                                                                                                                             8th C. King Offa built a 170-mile north-south dike that still partly marks the border of England & this country
Name: question, dtype: object

## Test your original function with a few different sets of words to try to find some ways your function breaks. Edit your function so it is more robust.

In [10]:
def filter_data(data, words):
    words = [word.lower() for word in words]
    filter = lambda x: all(word in x.lower() for word in words)
    return data.loc[data.question.apply(filter)]

filtered = filter_data(jeopardy, ["King", "England"])
print(filtered.question)

4953                    Both England's King George V & FDR put their stamp of approval on this "King of Hobbies"
6337      In retaliation for Viking raids, this "Unready" king of England attacks Norse areas of the Isle of Man
9191                    This king of England beat the odds to trounce the French in the 1415 Battle of Agincourt
11710               This Scotsman, the first Stuart king of England, was called "The Wisest Fool in Christendom"
13454                                       It's the number that followed the last king of England named William
                                                           ...
208295        In 1066 this great-great grandson of Rollo made what some call the last Viking invasion of England
208742                      Dutch-born king who ruled England jointly with Mary II & is a tasty New Zealand fish
213870                In 1781 William Herschel discovered Uranus & initially named it after this king of England
216021          His nickname was "Bertie", but he used this name & number when he became king of England in 1901
216789        This kingdom of England grew from 2 settlements, one founded around 495 by Cerdic & his son Cynric
Name: question, Length: 152, dtype: object

## We may want to eventually compute aggregate statistics, like .mean() on the " Value" column. But right now, the values in that column are strings. Convert the" Value" column to floats.

In [16]:
def convert_to_float(value):
    if value == "no value":
        return 0
    try:
        return float(value.replace("$", "").replace(",", ""))
    except ValueError:
        return np.nan

jeopardy["flt_value"] = jeopardy.value.apply(convert_to_float)

In [17]:
filtered = filter_data(jeopardy, ["King"])
print(filtered["flt_value"].mean())

771.8833850722094

## Write a function that returns the count of unique answers to all of the questions in a dataset.

In [18]:
def get_answer_counts(data):
    return data["answer"].value_counts()

# Testing the answer count function
print(get_answer_counts(filtered))

answer
Henry VIII                   55
Solomon                      35
Richard III                  33
Louis XIV                    31
David                        30
                             ..
cardiac (in card I acted)     1
Henderson                     1
Computer                      1
Indians                       1
work                          1
Name: count, Length: 5268, dtype: int64